* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --heading-font: "Lilita One", serif;
}

body {
  font-size: 1.6rem;
  font-family: "Playwrite AU SA", serif;
  font-weight: 300;
}

/* ========================== header ========================== */
header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header-bg.jpg);
  border-radius: 0 0 80px 80px;
  overflow: hidden;
}

.header__container {
  padding: 70px 100px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.616);
  backdrop-filter: blur(3px);
}

.header__heading {
  font-size: 10rem;
  font-family: var(--heading-font);
  font-weight: 400;
  color: white;
}

.header__desc {
  width: 600px;
  font-size: 1.4rem;
  line-height: 2em;
  color: white;
  text-align: center;
}

.header__img {
    width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.item__label {
  width: 80px;
  border-radius: 30px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.449);
  transition: all 0.5s ease-in-out;
  flex-shrink: 0;
}

input {
  display: none;
}

.item__content {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.item__icon {
  margin: 15px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__desc {
  overflow: hidden;
  height: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.item__desc--head {
  color: white;
  font-family: var(--heading-font);
  font-size: 2rem;
}

.item__desc--body {
  color: white;
  font-size: 1rem;
  line-height: 1em;
}

input:checked + label {
  width: 550px;
}

label[for="item1"] {
  background-image: url("../img//wind-bg.jpg");
  background-position: center;
  background-position-y: 70%;
}
label[for="item2"] {
  background-image: url("../img/ponyo-bg.jpg");
  background-position: center;
  background-position-y: 30%;
}
label[for="item3"] {
  background-image: url("../img/howl-bg.jpg");
  background-position: center;
  background-position-y: 85%;
}

label[for="item4"] {
  background-image: url("../img/sprited-bg.jpg");
  background-position: center;
  background-position-y: 45%;
}

label[for="item5"] {
  background-image: url("../img/mononoke-bg.jpg");
  background-position: center;
  background-position-y: 40%;
}
label[for="item6"] {
  background-image: url("../img/kiki-bg.jpg");
  background-position: center;
  background-position-y: 40%;
}

label[for="item7"] {
  background-image: url("../img/totoro-bg.jpg");
  background-position: bottom;
}

label[for="item8"] {
  background-image: url("../img/fireflies-bg.jpg");
  background-position: center;
}

